.dot {
	text-align: center;
	height: 30px;
	width: 30px;
	line-height: 30px;
	background-color: #171522;
	border-radius: 50%;
	display: inline-block;
	color: whitesmoke;
	margin-right: 3px;
}

.text{
	font-family: "Courier New", "sans-serif";
	font-weight: 500;
}

.btnText{
	font-size: 75%;
}

.image{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

#content{
	margin-bottom: 0px;
}

#intro {
	margin: 50px;
	color: #474747;
	font-weight: 700;
}

input[type=text], select {
	width: 90%;
	padding: 10px 20px;
	margin-bottom: 25px;
	margin-top:0px;
	display: inline-block;
	border: 2px solid #ccc;
	border-radius: 0px;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: 500;
}

#contactsSection{
	height: 400px;
	width: 800px;
}

#sp1{
	height: 100%;
	width: 40%;
	background-color: red;
	display: inline-block;
}

#sp2{
	height: 100%;
	width: 40%;
	background-color: blue;
	display: inline-block;
}

hr{
	margin-bottom: 8px;
	margin-top: 50px;
	border-top: 1px #E7E7E9;
}

button {
	background: #171522;
	color: whitesmoke;
	font-size: 26px;
	margin: 10px;
	border-radius: 18px;
	width: 80%;
	height: 40px;
}

body{
	text-align: center;
}

p{
	display: inline-block;
}
