.dot {
	text-align: center;
	height: 30px;
	width: 30px;
	line-height: 30px;
	background-color: #171522;
	border-radius: 50%;
	display: inline-block;
	color: whitesmoke;
	margin-right: 3px;
}

.text{
	font-family: "Courier New", "sans-serif";
	font-weight: 500;
	color: #4C4C4C;

}

.image{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.buttonSection{
	display: inline-block;
	width: 45%;
}

#subIntro {
	color: #474747;
	font-size: 16px;
	margin-bottom: 40px;
}

.buttons{
	margin-bottom: 40px;
}


.btnText{
	font-size: 70%;
	margin-bottom: 50px;
	margin-top: 50px;

}

#content{
	margin-bottom: 0px;
}

#intro {
	margin: 4px;
	margin-bottom: 12px;
	color: #474747;
	font-weight: 700;
}

#btn{
	text-align: center;
}

input[type=text], select {
	width: 90%;
	padding: 10px 20px;
	margin-bottom: 25px;
	margin-top:0px;
	display: inline-block;
	border: 2px solid #ccc;
	border-radius: 0px;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: 500;
}

#contactsSection{
	height: 270px;
	width: 800px;
	font-size: 15px;
}

#sp1{
	height: 100%;
	width: 35%;
	display: inline-block;
	float: left;
	margin-left: 40px;
}

#sp2{
	height: 100%;
	width: 50%;
	display: inline-block;
	float: right;
	text-align: left;
	margin-right: 40px;
}

#mailPreview{
	margin-top: 50px;
	margin-bottom: 50px;
}

textarea{
	font-size: 15px;
	width: 100%;
	height: 100%;
}

hr{
	border: 1px solid #ECECEC;
}

button {
	background: #171522;
	color: whitesmoke;
	font-size: 26px;
	margin: 10px;
	border-radius: 22px;
	width: 80%;
	height: 45px;
}

body{
	text-align: center;
}

.tabNames{
	display: inline-block;
}

.container{
	width: 100%;
	height: 15%;
}

.check{
	display: inline-block;
	float: left;
	height: 100%;
	width: 10%;
	line-height: 55px;
}

.checkText{
	display: inline-block;
	float: right;
	height: 100%;
	width: 80%;
	text-align: left;
}

#googleFbBtn{
	background-color: white;
	border: 2px solid #9E9E9E;
	color: #9E9E9E;
}

#skip {
	color: #474747;
	background: white;
	font-size: 17px;
	margin-bottom: 0;
	border: none;
	margin-top: 0;
}

#completeSection{
	height: 50px;
}

#infoText{
	margin-left: 10%;
	margin-right: 10%;
	align-self: center;
}

#searchBox{
	margin-left: 10%;
	margin-right: 10%;
	align-self: center;
}

#completeText{
	color: white;
}

#complete{
	width: 50%;
	font-size: 16px;
}


