.genres-section {
	background-color: #221F30;
	color: white;
	margin: 2% 0;
}

.genre-box {
	width: 90px;
	height: 90px;
	background-color: #6A6A6A;
	margin: 10px 10px;
}

.head-text {
	text-align: center;
}