.genres-section {
	background-color: #221F30;
	color: white;
	margin: 2% 0;
	padding: 25px 70px 60px 70px;
}

.genre-box {
	width: 93px;
	height: 93px;
	background-color: #6A6A6A;
	margin: 5px 6px;
	background-image: url("../../imgs/alter-image-genre-btn.png");
	background-position: center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	border: none;
	border-radius: 0;
}

.genre-box:hover {
	filter: opacity(60%);
}

.genre-box > p {
	font-size: xx-small;	
	text-align: center;
	margin-top: 65px;
}

.head-text {
	text-align: center;
	font-size: medium;
	font-style: normal;
}