.intro {
	margin: 55px;
	color: #474747;
}

.taabs {
	margin: auto;
	width: 50%;
	border: 3px solid black;
	padding: 10px;
}

.subIntro {
	color: #474747;
	font-size: 20px;
}

.skip {
	color: #474747;
	background: white;
	font-size: 26px;
	margin-top: 50px;
	margin-bottom: 2px;
	border: none;
}

button {
	background: #171522;
	color: whitesmoke;
	font-size: 26px;
	margin: 10px;
	border-radius: 18px;
}

body{
	text-align: center;
}

.dot {
	text-align: center;
	height: 30px;
	width: 30px;
	line-height: 30px;
	background-color: #171522;
	border-radius: 50%;
	display: inline-block;
	color: whitesmoke;
	margin-right: 3px;
}

p{
	display: inline-block;
}
