.verif-code {
  width: auto                        !important;
}

.verif-code > div > input {
  width: 20px                        !important;
  height: 20px                       !important;

  border: none                       !important;
  border-bottom: 1px solid lightgrey !important;
  border-radius: 0                   !important;

  margin-left: 1%                    !important;
  margin-right: 1%                   !important;

  font-size: 0.75em                  !important;
  font-weight: bold                  !important;

  color: #171523                     !important;
  caret-color: white                 !important;
}

&:focus {
    outline: none                    !important;
}

.verif-code > div >
input[type=number]::-webkit-inner-spin-button, 
.verif-code > div >
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.verif-code > div > input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}